@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.commonBtn {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 13px 37px;
  background-color: #FF6F61;
  margin: 29px 0;
  transition: 0.35s;
}
@media (min-width: 320px) and (max-width: 576px) {
  .commonBtn {
    font-size: 15px;
    padding: 13px 20px;
    margin: 20px;
  }
}
.commonBtn:hover {
  background-color: transparent;
  border: 2px solid #FF6F61;
  color: #11161E;
}
.commonBtn span {
  height: 18px;
  width: 18px;
}

.heading h1 {
  color: #11161E;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 36px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .heading h1 {
    font-size: 28px;
    margin-bottom: 36px;
  }
}

.productSlide {
  border: 1px solid #F1F3F4;
  background-color: #fff;
  margin: 0px 0px 24px 0px;
}
.productSlide .productCnt p {
  color: #444;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 576px) {
  .productSlide .productCnt p {
    margin-top: 12px;
  }
}
.productSlide .productCnt h6 {
  margin-bottom: 0px;
}
.productSlide .productCnt h6 a {
  color: #11161E;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 5px;
  display: block;
  margin-bottom: 0px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .productSlide .productCnt h6 a {
    font-size: 14px;
  }
}
.productSlide .productCnt span {
  color: #FF6F61;
  font-size: 12px;
  text-align: center;
  margin-top: 11px;
  margin-bottom: 26px;
  display: inline-block;
  width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productSlide .productCnt span {
    margin-bottom: 20px;
    margin-top: 5px;
  }
}
.productSlide .productImage {
  position: relative;
}
@media (min-width: 0px) and (max-width: 576px) {
  .productSlide .productImage a img {
    height: 200px !important;
  }
}
.productSlide .productImage .label {
  position: absolute;
  top: 13px;
  left: 24px;
}
.productSlide .productImage .label p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  border-radius: 13px 0px 0px 13px;
  background-color: #FF6F61;
  transform: rotate(-90deg);
  width: 52px;
  text-align: center;
}
.productSlide .productImage .overlay {
  position: absolute;
  top: 40%;
  right: 17px;
  transform: translateY(-40%);
}
@media (min-width: 0px) and (max-width: 576px) {
  .productSlide .productImage .overlay {
    top: 45%;
  }
}
.productSlide .productImage ul li a {
  background-color: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 10px;
  color: #11161E;
  font-size: 16px;
  transform: translateX(-60px);
  visibility: hidden;
  opacity: 0;
  transition: 350ms;
  display: block;
}
@media (min-width: 0px) and (max-width: 576px) {
  .productSlide .productImage ul li a {
    width: 30px;
    height: 30px;
    line-height: 36px;
    margin-bottom: 6px;
    font-size: 13px;
  }
}
.productSlide .productImage ul li a:hover {
  background-color: #FF6F61;
  color: #fff;
}

.productImage:hover .overlay a {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.productImage img {
  transform: scale(0.8);
  transition: 0.35s ease-in-out;
}

.productSlide:hover .productImage img {
  transform: scale(1);
}

.bi::before, [class*=" bi-"]::before, [class^=bi-]::before {
  font-weight: 700 !important;
}

#navbar.fixed {
  position: fixed;
  z-index: 999999;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#navbar {
  background-color: #fff;
}
#navbar .myMenu a {
  color: #11161E;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0px 22.5px;
  transition: 450ms;
}
#navbar .myMenu a:hover {
  color: #FF6F61;
}
#navbar .myMenu a span {
  font-size: 12px;
  font-weight: 1500;
}
#navbar .customDrop {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 160px;
  overflow: hidden;
}
#navbar .dropdown:hover .dropdown-menu {
  display: block;
}
#navbar .dropdown-menu {
  border: none;
}
#navbar .dropdown-item {
  font-size: 15px;
  color: #FF6F61;
  font-weight: 700;
  background-color: #fff;
  transform-origin: center;
  animation: rotate 1s ease 1;
}
@keyframes rotate {
  0% {
    transform: perspective(600px) rotatey(90deg);
    transform-origin: center;
  }
  100% {
    transform: perspective(600px) rotatey(0deg);
    transform-origin: center;
  }
}
#navbar .dropdown-item:nth-of-type(1) {
  animation-delay: 0s;
}
#navbar .dropdown-item:nth-of-type(2) {
  animation-delay: 0.1s;
}
#navbar .dropdown-item:nth-of-type(3) {
  animation-delay: 0.2s;
}
#navbar .userOption ul {
  padding: 0;
  display: flex;
  width: 100%;
  margin: 0;
  align-items: center;
}
#navbar .userOption ul li {
  font-size: 19px;
  font-weight: 700;
}
#navbar .userOption ul a {
  color: #11161E;
  margin: 0px 10px;
  transition: 350ms;
}
#navbar .userOption ul a:hover {
  color: #FF6F61;
}
#navbar .userOption ul .shoppingCart {
  display: flex;
  align-items: center;
  position: relative;
}
#navbar .userOption ul .shoppingCart a::after {
  content: "";
  background-color: #FF6F61;
  position: absolute;
  width: 17px;
  height: 15px;
  top: 1px;
  border-radius: 50%;
  right: 1px;
  z-index: 1;
}
#navbar .userOption ul .shoppingCart h4 {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 11px;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  z-index: 2;
  color: #ffffff;
}
#navbar .dropdown-toggle::after {
  display: none;
}
#navbar .menuToggler {
  outline: none;
  border: none;
  box-shadow: none;
  font-size: 30px;
}
#navbar .menuToggler:hover {
  color: #FF6F61;
}
#navbar .sidebar {
  position: relative;
}
#navbar .sidebar .userOption ul {
  position: absolute;
  top: 0;
  left: 248px;
}
#navbar .sidebar .userOption ul li {
  border-bottom: none;
}
#navbar .sidebar .userOption ul .shoppingCart li {
  right: 30px;
}
#navbar .sidebar .userOption ul .shoppingCart {
  position: relative;
}
#navbar .sidebar .userOption ul .shoppingCart a::after {
  content: "";
  background-color: #ff6f61;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 13px;
  border-radius: 50%;
  right: 4px;
  z-index: 1;
}
#navbar .sidebar .userOption ul .shoppingCart h4 {
  position: absolute;
  top: 11px;
  right: -1px;
  width: 18px;
  height: 18px;
  font-size: 14px;
  line-height: 23px;
  z-index: 2;
  color: #fff;
}
#navbar .sidebar .userOption ul .userProfile li {
  right: 60px;
}
#navbar .sidebar .userOption ul li {
  font-size: 30px;
}
#navbar .sidebar .dropdown-menu.customDrop {
  position: static !important;
  transform: translate3d(42.5px, 6px, 0px) !important;
}
#navbar .sidebar .dropdown-menu.customDrop.show {
  display: block;
}
#navbar .sidebar .dropdown-menu.customDrop {
  display: none;
}
#navbar .sidebar .customDrop li {
  outline: none;
  border: none;
}
#navbar .crossBtn {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  border-radius: 50%;
  font-size: 25px;
  top: 20px;
  margin-right: 8px;
}
#navbar .crossBtn:hover {
  color: #FF6F61;
}
#navbar .sidebar ul li {
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
}
#navbar .searchIcon {
  position: relative;
}
@media (min-width: 992px) and (max-width: 2000px) {
  #navbar .searchIcon {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  #navbar .searchIcon ul li a {
    position: absolute;
    top: -3px;
    right: -30px;
    font-size: 23px;
    color: #11161E;
  }
  #navbar .searchIcon ul li a:hover {
    color: #FF6F61;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  #navbar .searchIcon ul li a {
    position: absolute;
    top: -8px;
    right: -202px;
    font-size: 23px;
    color: #11161E;
  }
  #navbar .searchIcon ul li a:hover {
    color: #FF6F61;
  }
}

#banner {
  position: relative;
}
#banner .slider {
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}
#banner .slider .bannerCnt {
  transform: translateX(-100%);
  transition: 1000ms;
  opacity: 0;
}
#banner .slider .bannerCnt h4 {
  color: #1D1D1D;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
#banner .slider .bannerCnt h2 {
  color: #1D1D1D;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  margin-top: 14px;
  margin-bottom: 16px;
}
#banner .slider .bannerCnt p {
  color: #1D1D1D;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
#banner .sliderDots {
  position: absolute;
  bottom: 180px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}
#banner .sliderDots li button {
  width: 10.909px;
  height: 6px;
  background-color: #fff;
  border: none;
  color: transparent;
  border-radius: 5px;
  margin-right: 5.45px;
  transition: 0.35s ease;
}
#banner .sliderDots li.slick-active button {
  background-color: #FF6F61;
  width: 29px;
}
#banner .slick-active .bannerCnt {
  transform: translateX(0%);
  transition: 1s;
  opacity: 1;
}

#productBanner {
  margin-top: 25px;
  margin-bottom: 80px;
}
@media (min-width: 0px) and (max-width: 991px) {
  #productBanner {
    margin-bottom: 40px;
  }
}
#productBanner .productBannerLg .imgCnt_1 {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
#productBanner .productBannerLg .imgCnt_1:hover .overlay {
  opacity: 1;
  transform: scale(1);
}
#productBanner .productBannerLg .imgCnt_1 .overlay {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 22, 30, 0.431372549);
  inset: 24px;
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
  transition: 600ms;
}
#productBanner .productBannerLg .imgCnt_1 .overlay h4 {
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}
@media (min-width: 0px) and (max-width: 991px) {
  #productBanner .productBannerLg .imgCnt_1 .overlay h4 {
    font-size: 20px;
  }
}
#productBanner .productBannerLg .imgCnt_1 .overlay p {
  margin-top: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}
#productBanner .productBannerMd .imgCnt_1 {
  display: inline-block;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
#productBanner .productBannerMd .imgCnt_1 .overlay {
  position: absolute;
  text-align: center;
  background-color: rgba(17, 22, 30, 0.431372549);
  inset: 88px;
  pointer-events: none;
  opacity: 1;
  transform: scale(1);
  width: 523px;
  display: flex;
  justify-content: center;
}
#productBanner .productBannerMd .imgCnt_1 .overlay h4 {
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}
#productBanner .productBannerMd .imgCnt_1 .overlay p {
  margin-top: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}
#productBanner .productBannerSm {
  width: 100%;
}
#productBanner .productBannerSm .imgCnt_1 {
  display: inline-block;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65%;
}
#productBanner .productBannerSm .imgCnt_1 .overlay {
  position: absolute;
  text-align: center;
  background-color: rgba(17, 22, 30, 0.431372549);
  inset: 24px;
  pointer-events: none;
  opacity: 1;
  transform: scale(1);
}
#productBanner .productBannerSm .imgCnt_1 .overlay h4 {
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}
#productBanner .productBannerSm .imgCnt_1 .overlay p {
  margin-top: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

#latestProducts {
  margin-bottom: 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  #latestProducts {
    margin-bottom: 25px;
  }
}
#latestProducts .productSlide {
  border: 1px solid #F1F3F4;
  background-color: #fff;
  margin: 0px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  #latestProducts .productSlide {
    margin: 0px 5px;
  }
}
#latestProducts .productSlide .productCnt p {
  color: #444;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 576px) {
  #latestProducts .productSlide .productCnt p {
    margin-top: 12px;
  }
}
#latestProducts .productSlide .productCnt h6 {
  margin-bottom: 0px;
}
#latestProducts .productSlide .productCnt h6 a {
  color: #11161E;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 5px;
  display: block;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  #latestProducts .productSlide .productCnt h6 a {
    font-size: 14px;
  }
}
#latestProducts .productSlide .productCnt span {
  color: #FF6F61;
  font-size: 12px;
  text-align: center;
  margin-top: 11px;
  margin-bottom: 26px;
  display: inline-block;
  width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  #latestProducts .productSlide .productCnt span {
    margin-bottom: 20px;
    margin-top: 5px;
  }
}
#latestProducts .productSlide .productImage {
  position: relative;
}
@media (min-width: 0px) and (max-width: 576px) {
  #latestProducts .productSlide .productImage a img {
    height: 200px !important;
  }
}
#latestProducts .productSlide .productImage .label {
  position: absolute;
  top: 13px;
  left: 24px;
}
#latestProducts .productSlide .productImage .label p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  border-radius: 13px 0px 0px 13px;
  background-color: #FF6F61;
  transform: rotate(-90deg);
  width: 52px;
  text-align: center;
}
#latestProducts .productSlide .productImage .overlay {
  position: absolute;
  top: 40%;
  right: 17px;
  transform: translateY(-40%);
}
@media (min-width: 0px) and (max-width: 576px) {
  #latestProducts .productSlide .productImage .overlay {
    top: 45%;
  }
}
#latestProducts .productSlide .productImage ul li a {
  background-color: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 10px;
  color: #11161E;
  font-size: 16px;
  transform: translateX(-60px);
  visibility: hidden;
  opacity: 0;
  transition: 450ms;
  display: block;
}
@media (min-width: 0px) and (max-width: 576px) {
  #latestProducts .productSlide .productImage ul li a {
    width: 30px;
    height: 30px;
    line-height: 36px;
    margin-bottom: 6px;
    font-size: 13px;
  }
}
#latestProducts .productSlide .productImage ul li a:hover {
  background-color: #FF6F61;
  color: #fff;
}
#latestProducts .productImage:hover .overlay a {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
#latestProducts .productImage img {
  transform: scale(0.96);
  transition: 0.3s ease-in-out;
}
#latestProducts .container.proArrrow {
  position: relative;
}
#latestProducts .container.proArrrow .arrows .leftArrow {
  width: 30px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 53px;
  font-size: 25px;
  position: absolute;
  background-color: rgba(21, 26, 50, 0.4784313725);
  cursor: pointer;
  color: #fff;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}
#latestProducts .container.proArrrow .arrows .rightArrow {
  width: 30px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 53px;
  font-size: 25px;
  position: absolute;
  background-color: rgba(21, 26, 50, 0.4784313725);
  cursor: pointer;
  color: #fff;
  right: 23px;
  top: 50%;
  transform: translateY(-50%);
}
#latestProducts .productSlider {
  margin-top: 24px;
}
#latestProducts .productSlide:hover .productImage img {
  transform: scale(1);
}

#shortBanner {
  width: 100%;
  margin-bottom: 100px;
}
@media (min-width: 0px) and (max-width: 768px) {
  #shortBanner {
    margin-bottom: 50px;
  }
}
#shortBanner .bannnerWidth {
  height: 100%;
}
#shortBanner .banner_img {
  height: 524px;
}
#shortBanner .banner_img .banner_content {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
#shortBanner .banner_img .banner_content h3 {
  color: #fff;
  font-weight: 700;
  line-height: 46px; /* 127.778% */
  padding: 0px 0px 10px 0px;
  margin: 0px;
}
#shortBanner .banner_img .banner_content p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  padding: 0px;
}
#shortBanner .banner_img .banner_content .commonBtn {
  background-color: transparent;
  border: 1px solid #fff;
  max-width: 186px;
}
#shortBanner .banner_img .banner_content .commonBtn:hover {
  background-color: #b33939;
}

#bestSellerProduct {
  margin-bottom: 50px;
}

#dealsDay {
  margin-bottom: 85px;
}
@media (min-width: 0px) and (max-width: 768px) {
  #dealsDay {
    margin-bottom: 40px;
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  #dealsDay .heading h1 {
    margin-bottom: 45px;
  }
}
#dealsDay .counterDots {
  position: absolute;
  bottom: 180px;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
#dealsDay .counterDots li button {
  width: 10.909px;
  height: 6px;
  background-color: #C4C4C4;
  border: none;
  color: transparent;
  border-radius: 5px;
  margin-right: 5.45px;
  transition: 0.35s ease;
}
#dealsDay .counterDots li.slick-active button {
  background-color: #151A32;
  width: 29px;
}
@media (min-width: 0px) and (max-width: 576px) {
  #dealsDay .counterDots {
    opacity: 0;
    visibility: hidden;
  }
}
#dealsDay .counterSmDots {
  position: absolute;
  display: flex;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}
#dealsDay .counterSmDots li button {
  width: 10.909px;
  height: 6px;
  background-color: #C4C4C4;
  border: none;
  color: transparent;
  border-radius: 5px;
  margin-right: 5.45px;
  transition: 0.35s ease;
}
#dealsDay .counterSmDots li.slick-active button {
  background-color: #151A32;
  width: 29px;
}
@media (min-width: 577px) and (max-width: 2100px) {
  #dealsDay .counterSmDots {
    opacity: 0;
    visibility: hidden;
  }
}
#dealsDay .dealsWrapper {
  background: #fff;
  box-shadow: 0px 0px 70px 0px rgba(21, 26, 50, 0.08);
  height: 646px;
  margin-top: 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  #dealsDay .dealsWrapper {
    margin-top: 30px;
  }
}
#dealsDay .dealsWrapper .countDown {
  text-align: center;
  margin: auto;
  width: 424px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(21, 26, 50, 0.1);
  padding: 10px 20px;
  transform: translateY(-50%);
}
@media (min-width: 0px) and (max-width: 576px) {
  #dealsDay .dealsWrapper .countDown {
    width: 250px;
    padding: 8px 12px;
  }
}
#dealsDay .dealsWrapper .countDown ul {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
#dealsDay .dealsWrapper .countDown ul li {
  display: inline-block;
  padding: 0px 22.5px;
  position: relative;
}
@media (min-width: 0px) and (max-width: 576px) {
  #dealsDay .dealsWrapper .countDown ul li {
    padding: 6px;
  }
}
#dealsDay .dealsWrapper .countDown ul li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #FF6F61;
  border-radius: 50%;
  top: 18px;
  right: -5px;
}
@media (min-width: 0px) and (max-width: 576px) {
  #dealsDay .dealsWrapper .countDown ul li::before {
    top: 11px;
    width: 4px;
    height: 4px;
  }
}
#dealsDay .dealsWrapper .countDown ul li:last-child::before {
  opacity: 0;
  visibility: hidden;
}
#dealsDay .dealsWrapper .countDown ul li::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #FF6F61;
  border-radius: 50%;
  bottom: 16px;
  right: -5px;
}
@media (min-width: 0px) and (max-width: 576px) {
  #dealsDay .dealsWrapper .countDown ul li::after {
    bottom: 14px;
    width: 4px;
    height: 4px;
  }
}
#dealsDay .dealsWrapper .countDown ul li:last-child::after {
  opacity: 0;
  visibility: hidden;
}
#dealsDay .dealsWrapper .countDown ul li h4 {
  color: #11161E;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  margin: 0;
}
@media (min-width: 0px) and (max-width: 576px) {
  #dealsDay .dealsWrapper .countDown ul li h4 {
    font-size: 16px;
    line-height: 11px;
  }
}
#dealsDay .dealsWrapper .countDown ul li span {
  color: #444;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
@media (min-width: 0px) and (max-width: 576px) {
  #dealsDay .dealsWrapper .countDown ul li span {
    font-size: 12px;
    line-height: 0px;
  }
}
#dealsDay .dealsWrapper .dealsBanner {
  padding: 30px 39px 86px 35px;
}
@media (min-width: 0px) and (max-width: 576px) {
  #dealsDay .dealsWrapper .dealsBanner {
    padding: 0;
  }
}
#dealsDay .dealsWrapper .dealsBanner .bannerImg1 {
  margin: 15px;
}
@media (min-width: 0px) and (max-width: 576px) {
  #dealsDay .dealsWrapper .dealsBanner .bannerImg1 {
    width: 90%;
    height: 40%;
  }
}
#dealsDay .dealsWrapper .dealsBanner .dealBannerCnt {
  padding: 35px 0px 0px 40px;
}
#dealsDay .dealsWrapper .dealsBanner .dealBannerCnt h6 {
  color: #11161E;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  margin-bottom: 10px;
}
#dealsDay .dealsWrapper .dealsBanner .dealBannerCnt h3 {
  color: #11161E;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px; /* 127.778% */
  margin-bottom: 16px;
}
#dealsDay .dealsWrapper .dealsBanner .dealBannerCnt p {
  color: #444;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 20px;
}
#dealsDay .dealsWrapper .dealsBanner .dealBannerCnt .dealsPrice {
  display: flex;
}
#dealsDay .dealsWrapper .dealsBanner .dealBannerCnt .dealsPrice h5 {
  color: #11161E;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
}
#dealsDay .dealsWrapper .dealsBanner .dealBannerCnt .dealsPrice p {
  color: #444;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
  text-decoration: line-through;
  padding-left: 13px;
}
#dealsDay .dealsWrapper .dealsBanner .dealBannerCnt .commonBtn {
  margin-top: 30px;
  background: #151A32;
  color: #fff;
  padding: 13px 27px;
}
#dealsDay .dealsWrapper .dealsBanner .dealBannerCnt .commonBtn:hover {
  background-color: #fff;
  color: #151A32;
}

#videoCard {
  width: 100%;
  margin-bottom: 115px;
  background: #F1F3F4;
}
@media (min-width: 0px) and (max-width: 768px) {
  #videoCard {
    margin-bottom: 40px;
  }
}
#videoCard .beautyCnt {
  display: flex;
  align-items: center;
  justify-content: center;
}
#videoCard .beautyCnt h6 {
  color: #444;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 0px;
  padding: 0;
}
#videoCard .beautyCnt h3 {
  color: #11161E;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px; /* 127.778% */
  margin: 10px 0px 16px 0px;
  padding: 0;
}
#videoCard .beautyCnt p {
  color: #444;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 0;
}
#videoCard .beautyCnt a {
  margin-bottom: 30px;
  padding: 14px 30px;
}

#latestNews {
  margin-bottom: 100px;
  width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  #latestNews {
    margin-bottom: 58px;
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  #latestNews .heading h1 {
    margin-bottom: 8px;
  }
}
#latestNews .newsPost {
  background-color: #fff;
  position: relative;
  padding-bottom: 100px;
}
#latestNews .newsPost .newsDots {
  position: absolute;
  bottom: 40px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}
#latestNews .newsPost .newsDots li button {
  width: 10.909px;
  height: 6px;
  background-color: #BDBDBD;
  border: none;
  color: transparent;
  border-radius: 5px;
  margin-right: 5.45px;
  transition: 0.35s ease;
}
#latestNews .newsPost .newsDots li.slick-active button {
  background-color: #151A32;
  width: 29px;
}
#latestNews .newsPost .blog {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 312px;
  height: 366px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}
#latestNews .newsPost .blog img {
  width: 100%;
}
#latestNews .newsPost .blog .blogCnt h5 {
  color: #11161E;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
  margin: 10px 0px 0px;
  transition: 350ms;
}
#latestNews .newsPost .blog .blogCnt h5:hover {
  color: #FF6F61;
}
#latestNews .newsPost .blog .blogCnt p {
  color: #444;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 4px;
}
#latestNews .newsPost .blog .blogCnt .latestInfo .readCnt a {
  color: #444;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px; /* 175% */
  transition: 350ms;
}
#latestNews .newsPost .blog .blogCnt .latestInfo .readCnt a:hover {
  color: #FF6F61;
}

#footerPart {
  background-color: #11161E;
  height: 100%;
  width: 100%;
}
@media (min-width: 0px) and (max-width: 576px) {
  #footerPart {
    overflow: hidden;
    margin-top: -58px;
  }
}
#footerPart .footerService {
  overflow-x: hidden;
  transform: translateY(-50%);
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 50px 0px rgba(21, 26, 50, 0.1);
  height: 160px;
}
#footerPart .footerService .shopCnt {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
#footerPart .footerService .shopCnt::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100px;
  background: #F1F1F1;
  bottom: 30px;
  right: -5px;
}
#footerPart .footerService .shopCnt:nth-child(4)::before {
  opacity: 0;
  visibility: hidden;
}
#footerPart .footerService .shopCnt .shipping .shippingCnt h5 {
  color: #11161E;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
  margin: 0;
}
#footerPart .footerService .shopCnt .shipping .shippingCnt p {
  color: #444;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin: 0;
}
#footerPart .footerService .shopCnt .shipping .shippingCnt p span {
  color: #FF6F61;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
#footerPart .footerServiceMd {
  transform: translateY(-50%);
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 50px 0px rgba(21, 26, 50, 0.1);
  height: 100%;
  padding: 20px;
}
#footerPart .footerServiceMd .shipCntmd {
  padding: 15px;
}
#footerPart .footerServiceSm {
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 50px 0px rgba(21, 26, 50, 0.1);
  height: 100%;
  padding: 20px;
}
#footerPart .footerServiceSm .shipCntSm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
#footerPart .socialCnt {
  display: flex;
  padding-bottom: 70px;
  border-bottom: 2px solid #E0E0E0;
  margin-bottom: 70px;
}
#footerPart .socialCnt .socialIcon {
  display: flex;
  align-items: center;
}
#footerPart .socialCnt .socialIcon a {
  width: 40px;
  height: 40px;
  background: #fff;
  color: #444444;
  line-height: 46px;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  margin-left: 10px;
  transition: 350ms;
}
#footerPart .socialCnt .socialIcon a:hover {
  color: #fff;
  background-color: #FF6F61;
}
#footerPart .socialCntMd {
  border-bottom: 2px solid #fff;
  margin-top: -92px;
  padding: 40px;
}
#footerPart .socialCntMd .socialIcon {
  display: flex;
  justify-content: end;
  align-items: center;
}
#footerPart .socialCntMd .socialIcon a {
  width: 35px;
  height: 35px;
  background: #fff;
  color: #444444;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  margin-left: 10px;
  transition: 350ms;
}
#footerPart .socialCntMd .socialIcon a:hover {
  color: #fff;
  background-color: #FF6F61;
}
#footerPart .socialCntSM {
  border-bottom: 2px solid #fff;
}
#footerPart .socialCntSM .socialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#footerPart .socialCntSM .socialIcon a {
  width: 35px;
  height: 35px;
  background: #fff;
  color: #444444;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  margin-left: 10px;
  transition: 350ms;
}
#footerPart .socialCntSM .socialIcon a:hover {
  color: #fff;
  background-color: #FF6F61;
}
#footerPart .mainFooter {
  padding-bottom: 70px;
}
#footerPart .mainFooter .accountCnt h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 18px;
  margin: 0;
}
#footerPart .mainFooter .accountCnt ul li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
}
#footerPart .mainFooter .accountCnt ul li a:hover {
  color: #FF6F61;
}
#footerPart .mainFooter .Support h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 18px;
  margin: 0;
}
#footerPart .mainFooter .Support ul li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
}
#footerPart .mainFooter .Support ul li a:hover {
  color: #FF6F61;
}
#footerPart .openingTime h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 18px;
  margin: 0;
}
#footerPart .openingTime .timeCnt .day,
#footerPart .openingTime .timeCnt .date {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
}
#footerPart .openingTime .timeCnt .day:hover,
#footerPart .openingTime .timeCnt .date:hover {
  color: #FF6F61;
}
#footerPart .openingTime .timeCnt .day {
  font-weight: 700;
}
#footerPart .contactUs h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 18px;
  margin: 0;
}
#footerPart .contactUs .contactInfo .icon {
  color: #FF6F61;
  font-size: 20px;
  line-height: 60px; /* 175% */
}
#footerPart .contactUs .contactInfo .iconCnt p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
  margin: 0;
}
#footerPart .contactUs .contactInfo .iconCnt p:hover {
  color: #FF6F61;
}
#footerPart .newsLatter h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 18px;
  margin: 0;
}
#footerPart .newsLatter .newsCnt p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
  padding-bottom: 23px;
  margin: 0;
}
#footerPart .newsLatter .newsCnt p:hover {
  color: #FF6F61;
}
#footerPart .newsLatter .newsCnt .boxCnt input {
  border: none;
  outline: none;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
#footerPart .newsLatter .newsCnt .boxCnt .subscribeBtn {
  border: none;
  outline: none;
  height: 45px;
  background-color: #FF6F61;
  color: #fff;
  font-size: 14px;
}
#footerPart .mainFooterMd {
  margin-top: 50px;
  padding-bottom: 50px;
}
#footerPart .mainFooterMd .accountCntMd h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 15px;
  margin: 0;
}
#footerPart .mainFooterMd .accountCntMd ul li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
}
#footerPart .mainFooterMd .accountCntMd ul li a:hover {
  color: #FF6F61;
}
#footerPart .mainFooterMd .contactUsMd h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 15px;
  margin: 0;
}
#footerPart .mainFooterMd .contactUsMd .contactInfo .icon {
  color: #FF6F61;
  font-size: 20px;
  line-height: 60px; /* 175% */
}
#footerPart .mainFooterMd .contactUsMd .contactInfo .iconCnt p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
  margin: 0;
}
#footerPart .mainFooterMd .contactUsMd .contactInfo .iconCnt p:hover {
  color: #FF6F61;
}
#footerPart .mainFooterMd .openingTimeMd {
  margin-top: 25px;
}
#footerPart .mainFooterMd .openingTimeMd h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 15px;
  margin: 0;
}
#footerPart .mainFooterMd .openingTimeMd .timeCnt .day,
#footerPart .mainFooterMd .openingTimeMd .timeCnt .date {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
}
#footerPart .mainFooterMd .openingTimeMd .timeCnt .day:hover,
#footerPart .mainFooterMd .openingTimeMd .timeCnt .date:hover {
  color: #FF6F61;
}
#footerPart .mainFooterMd .openingTimeMd .timeCnt .day {
  font-weight: 700;
}
#footerPart .mainFooterMd .SupportMd h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 15px;
  margin: 0;
}
#footerPart .mainFooterMd .SupportMd ul li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
}
#footerPart .mainFooterMd .SupportMd ul li a:hover {
  color: #FF6F61;
}
#footerPart .mainFooterMd .newsLatterMd {
  margin-top: 25px;
}
#footerPart .mainFooterMd .newsLatterMd h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 18px;
  margin: 0;
  display: flex;
  justify-content: center;
}
#footerPart .mainFooterMd .newsLatterMd .newsCnt p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
  padding-bottom: 23px;
  margin: 0;
}
#footerPart .mainFooterMd .newsLatterMd .newsCnt p:hover {
  color: #FF6F61;
}
#footerPart .mainFooterMd .newsLatterMd .newsCnt .boxCnt input {
  border: none;
  outline: none;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
#footerPart .mainFooterMd .newsLatterMd .newsCnt .boxCnt .subscribeBtn {
  border: none;
  outline: none;
  height: 45px;
  background-color: #FF6F61;
  color: #fff;
  font-size: 14px;
}
#footerPart .mainFooterSM {
  width: 100%;
  margin-top: 40px;
  padding-left: 30px;
}
#footerPart .mainFooterSM .accountCntSm h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 10px;
  margin: 0;
}
#footerPart .mainFooterSM .accountCntSm ul li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
}
#footerPart .mainFooterSM .accountCntSm ul li a:hover {
  color: #FF6F61;
}
#footerPart .mainFooterSM .SupportSm h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 10px;
  margin: 0;
}
#footerPart .mainFooterSM .SupportSm ul li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
}
#footerPart .mainFooterSM .SupportSm ul li a:hover {
  color: #FF6F61;
}
#footerPart .mainFooterSM .openingTimeSm {
  margin-top: 25px;
}
#footerPart .mainFooterSM .openingTimeSm h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 10px;
  margin: 0;
}
#footerPart .mainFooterSM .openingTimeSm .timeCnt .day,
#footerPart .mainFooterSM .openingTimeSm .timeCnt .date {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
}
#footerPart .mainFooterSM .openingTimeSm .timeCnt .day:hover,
#footerPart .mainFooterSM .openingTimeSm .timeCnt .date:hover {
  color: #FF6F61;
}
#footerPart .mainFooterSM .openingTimeSm .timeCnt .day {
  font-weight: 700;
}
#footerPart .mainFooterSM .contactUsSm {
  margin-top: 25px;
}
#footerPart .mainFooterSM .contactUsSm h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 10px;
  margin: 0;
}
#footerPart .mainFooterSM .contactUsSm .contactInfo .icon {
  color: #FF6F61;
  font-size: 18px;
  line-height: 60px; /* 175% */
}
#footerPart .mainFooterSM .contactUsSm .contactInfo .iconCnt p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
  margin: 0;
}
#footerPart .mainFooterSM .contactUsSm .contactInfo .iconCnt p:hover {
  color: #FF6F61;
}
#footerPart .mainFooterSM .newsLatterSm {
  margin-top: 25px;
  margin-bottom: 40px;
}
#footerPart .mainFooterSM .newsLatterSm h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  padding-bottom: 10px;
  margin: 0;
}
#footerPart .mainFooterSM .newsLatterSm .newsCnt p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  transition: 350ms;
  padding-bottom: 23px;
  margin: 0;
}
#footerPart .mainFooterSM .newsLatterSm .newsCnt p:hover {
  color: #FF6F61;
}
#footerPart .mainFooterSM .newsLatterSm .newsCnt .boxCnt input {
  border: none;
  outline: none;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
#footerPart .mainFooterSM .newsLatterSm .newsCnt .boxCnt .subscribeBtn {
  border: none;
  outline: none;
  height: 45px;
  background-color: #FF6F61;
  color: #fff;
  font-size: 14px;
}

#copyright {
  background-color: #32363E;
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
}
#copyright p {
  color: #FFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin: 0;
}
#copyright p a {
  color: #FF6F61;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}