// *SHOP PRODUCT START HERE
#shop{
    margin-top: 100px;
    @media (min-width:320px) and (max-width: 575px){
        margin-top: 40px;
    } 
    @media (min-width:576px) and (max-width: 991px){
        margin-top: 50px;
    }     
    .filter{
        margin-bottom: 30px;

        .links{
            display: flex;

            .li-grid,
            .li-list{
                outline: none;
                border: none;
                color: $fontColor;
                background-color: #000;
                width: 35px;
                height: 35px;
                text-align: center;
                line-height: 40px;
                transition: 350ms;
                &:nth-child(2){
                    margin-left: -1px;
                }
                span{
                    font-size: 20px;
                }
            }
            // *PROGRESS START HERE 
            .shopProgress{
                position: relative;
                P{
                    display: inline-block;
                    color: #444;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px; /* 162.5% */   
                    margin-left: 25px;
                    padding-bottom: 10px;
                    margin-bottom: 0px;
                    @media (min-width:320px) and (max-width: 575px){
                        font-size: 13px;
                        margin-left: 7px;
                        padding-bottom: 6px;
                    }              
                }
                .customProgress{
                    height: 2px !important;
                    margin-left: 25px;
                    position: absolute;
                    @media (min-width:320px) and (max-width: 575px){
                        margin-left: 7px;
                    }  
                    .customProgress_bar{
                        background-color: #444 !important;
                    }
                }
            }
            // *PROGRESS END HERE
        }
        .links ul li:hover,
        .links ul li.active{
            background-color: $secondaryColor;
        }        
        .filterSort{
            display: flex;
            justify-content: end;

            .selectSort{          
                background: none;
                background-color: #F1F3F4;
                border: none;
                outline: none;
                color: #444;
                font-family: $secondaryFont;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px; /* 175% */ 
                padding: 6px 151px 6px 16px !important;
                @media (min-width:320px) and (max-width: 575px){
                    font-size: 14px;
                    padding: 0px 0px 0px 0px !important;
                } 
                @media (min-width:576px) and (max-width: 991px){
                    padding: 6px 50px 6px 16px !important;
                    
                }     

            }
        }
    }
    .productItemsGrid{

        .productItem{

            .productSlide{
                margin: 0px 0px 10px 0px;
                padding-bottom: 25px;
                @media (min-width:320px) and (max-width: 575px){
                    padding-bottom: 15px;
                } 
                @media (min-width:576px) and (max-width: 991px){
                    padding-bottom: 20px;
                    
                }     

                .productImage{
                    // *EDIT 
                        &:hover a img {
                            transform: scale(0.9);
                               
                        }
                        position: relative;
                        a img{
                            transform: scale(0.8);
                            transition:0.35s ease-in-out;  
                        }
                        // *EDIT 

                    .label{
                        position: absolute;
                        top: 0px;
                        left: 0px;
            
                           p{
                            color: #fff ;
                            font-size: 16px;
                            font-weight: 400;
                            background-color: $secondaryColor;
                            width: 80px ;
                            height: 26px ;
                            text-align: center;
                            border-radius: 0px;
                            transform: rotate(360deg);
                           }
                        
                    }
                }
                .productCnt{
                    h6{
                        margin-bottom: 0px;
                        height: 80px;
                        @media (min-width:320px) and (max-width: 575px){
                            height: 30px;
                        } 
                        @media (min-width:576px) and (max-width: 991px){
                            height: 35px;
                            
                        }     
                        a{
                            color: $primaryColor;       
                            font-size: 18px;
                            text-align: start;
                            font-weight: 600;
                            line-height: 28px;
                            padding-top: 10px;
                            display: inline-block;
                            padding-bottom: 15px ;
                            @media (min-width:320px) and (max-width: 575px){
                                font-size: 14px;
                            }
                            @media (min-width:576px) and (max-width: 991px){
                                font-size: 15px;
                            }                        
                        }
                    }
                    span{
                        color: $secondaryColor;
                        margin: 0;
                        font-size: 9px;
                        text-align: center;
                        padding-top: 10px;
                        padding-bottom: 15px;
                        display: inline-block;
                        width: fit-content;
                        @media(min-width: 0px) and (max-width: 991px){
                            padding-bottom: 12px;
                            padding-top: 10px;
                        }
                        p{
                            display: inline-block;
                            margin: 0;
                            padding: 0;
                            font-size: 12px;
                        }
                    }
                    p{
                        display: flex;
                        justify-content: start;
                        margin: 0;
                        bottom: 0px;
                    }
                }
            }
        }
    }
    .view_main{

        .view_wrap{

            .productItemsList{

                .productList{
                    padding: 30px;
                    margin-bottom: 30px;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    @media (min-width:320px) and (max-width: 575px){
                        padding: 10px;
                    } 
                    @media (min-width:576px) and (max-width: 991px){
                        padding: 15px;
                        margin-bottom: 15px;
                    }     
        
                    .productImageList{
                        &:hover a img {
                            transform: scale(0.9);
                               
                        }
                        position: relative;
                        a img{
                            transform: scale(0.8);
                            transition:0.35s ease-in-out;  
                        }
                        .label{
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            p{
                                color: #fff ;
                                font-size: 16px;
                                font-weight: 400;
                                background-color: $secondaryColor;
                                width: 80px ;
                                height: 26px ;
                                border-radius: 0px;
                                transform: rotate(360deg);
                                align-items: center;
                                display: flex;
                                justify-content: center;   
                            }
                        }
                    }
                    .productCnt{
                        padding-left: 30px;
                        @media (min-width:320px) and (max-width: 575px){
                            padding-left: 25px;
                        } 
                        @media (min-width:576px) and (max-width: 991px){
                            padding-left: 20px;
                        } 
                        h3 a{
                            color: $primaryColor;
                            font-size: 28px;
                            font-weight: 800;
                            margin: 20px 0;
                            @media (min-width:320px) and (max-width: 575px){
                                font-size: 20px;
                                margin-top: 15px;
                                margin-bottom: 10px;
                            } 
                            @media (min-width:576px) and (max-width: 991px){
                                font-size: 22px ;
                                margin: 12px 0px;
                            }                     
                        }
                        h6{
                            font-size: 16px;
                            color: #444;
                            margin-bottom: 20px;
                            font-weight: 700;
                            @media (min-width:320px) and (max-width: 575px){
                                font-size: 17px;
                                margin-bottom: 0px;
                            } 
                            @media (min-width:576px) and (max-width: 991px){
                                margin-bottom: 5px;
                            }                     
                        }
                        span{
                            color:$secondaryColor;
                            font-size: 16px; 
                            @media (min-width:320px) and (max-width: 575px){
                                font-size: 12px;
                            } 
                            @media (min-width:576px) and (max-width: 991px){
                                font-size: 14px;
                            } 
                            p{
                                display: inline-block;
                                font-size: 14px;
                                margin-left: 3px;
                                font-weight: 700;
                                @media (min-width:320px) and (max-width: 575px){
                                    font-size: 14px;
                                    margin: 0;
                                } 
                                @media (min-width:576px) and (max-width: 991px){
                                    margin: 0;
                                } 
                            }                   
                        }
                        p{
                            font-family: $secondaryFont;
                            color: $primaryColor;
                            font-size: 16px;
                            @media (min-width:320px) and (max-width: 575px){
                                font-size: 12px;
                                margin-top: 10px;
                            } 
                            @media (min-width:576px) and (max-width: 991px){
                                font-size: 14px;
                            }                     
        
                        }
                        .actions{
                            margin: 20px 0px;
                            @media (min-width:320px) and (max-width: 575px){
                                margin: 10px 0px;
                            } 
                            @media (min-width:576px) and (max-width: 991px){
                                margin: 5px 0px;
                            } 
                            a{
                                width: 40px;
                                height: 40px;
                                display: inline-block;
                                background-color: $primaryColor;
                                color: #fff;
                                text-align: center;
                                line-height: 45px;
                                transition: .25s ease;
                                border-radius: 50%;
                                @media (min-width:320px) and (max-width: 575px){
                                    width: 30px;
                                    height: 30px;
                                    font-size: 12px;
                                    line-height: 33px;
                                    
                                } 
                                @media (min-width:576px) and (max-width: 991px){
                                    width: 32px;
                                    height: 32px;
                                    line-height: 40px;
                                    font-size: 15px;
                                } 
                                &:hover{
                                    background-color: $secondaryColor;
                                }
                            }
                        }
                    }
                }
            }
        
        }
    }
    .pageSlideBtn{
        margin-bottom: 100px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width:320px) and (max-width: 575px){
            margin-top: 25px;
            margin-bottom: 50px;
        } 
        @media (min-width:576px) and (max-width: 991px){
            margin-top: 30px;
            margin-bottom: 60px;
        }     

        .ShopArrow{
            display: inline-block;
            a{
                display: block;
                width: 80px;
                height: 40px ;
                line-height: 40px;
                text-align: center;
                background-color: #fff;
                border: 1px solid #444;
                transition: 450ms;
                cursor: pointer;
                font-family: $secondaryFont;
                font-size: 18px;
                font-weight: 700;
                color: black;
                transition: 350ms;
                &:hover{
                    color: $fontColor;
                    background-color: black;
                }
            }
            p{
                display: inline-block;
                padding: 0;
                margin: 0;
            }
        }
        .NumberBtn{
            display: inline-block;
            a{
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                color: black;
                text-align: center;
                font-family: $secondaryFont;
                border: 1px solid #444;
                font-weight: 700;
                transition: 450ms;
                &:hover{
                    color: $fontColor;
                    background-color: black;
                }
                
            }
        }
        .NumberBtn.active a{
            background-color: black;
            color: $fontColor;
        }
    }

} 
// *SHOP PRODUCT END HERE
